* {
    margin: 0;
    padding: 0;
}

body,
html {
    width: 100%;
    overflow: hidden;
}

canvas {
    border: 2px solid black;
    padding: 5px;
    width: 90%;
    margin: 5%;
    box-sizing: border-box;
}